.login{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login h2{
    padding: 5px;
    justify-content: left;
    justify-self: left;
    align-self: flex-start;
    margin-left: 25%;
}

.login input{
    width: 50%;
    padding: 8px;
    border-radius: 10px;
}

.login button{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
    background-color: beige;
    color: #121212;
    cursor: pointer;
    transition: all 0.5s;
  }
  
  .login button:hover{
    background-color: rgb(37, 26, 166);
    color: #FFF;
  }

.login a{
    width: 20%;
    padding: 5px;
    border-radius: 4px;
    font-size: x-small;   
}