.itens{
    width: 80%;
    padding: 4px;
}

.dadosResumidos{
    width: 80%;
}

.descricao{
    padding: 5xp;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.descricao h4{
    padding: 4px;
    margin: 4px;
}

.descricao button{
    text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  font-size: 15px;
  padding: 10px;
  border-radius: 15px;
  background-color: beige;
  color: #121212;
  cursor: pointer;
  transition: all 0.5s;
}

.descricao button:hover{
    background-color: rgb(37, 26, 166);
    color: #FFF;
}