.loaddingDiv{
    background-color: #424242;
    width: 90%;
    height: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opcoesQuestao{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
}

.opcoesBotoesNavegacao{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.opcaoBotaoBefore{
    justify-content: left;
}

.opcaoBotaoAfter{
    justify-content: right;
}

.total{
    width: 100%;
    justify-content: left;
    margin-left: 20px;
}
.opcaoVerificacao{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    justify-content: right;
    margin-right: 20px;
}

.opcaoVerificacao h2{
    padding: 5px;
    justify-content: space-between;
    cursor: pointer;
}

.loaddingDiv img{
    width: 10%;
    height: 5%;
}

.descricaoQuestao{
    width: 100%;
    max-width: 90%;
    align-items: center;
    justify-content: center;
}

.descricaoQuestao h4, i{
    width: 100%;
    max-width: fit-content;
    align-items: center;
    justify-content: center;
}

.descricaoQuestao img{
    margin-top: 20px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
    display: block;
}

.todasRespostas{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 80%;
    align-items: left;
    justify-content: left;
}

.respostasLista{
    padding: 20px;
    justify-items: left;
}

.respostaLabel{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.respostaLabel h4{
    padding-left: 10px;
}

.contextModal{
    display: flex;
    flex-direction: column;    
    background-color: #424242;
    width: 100%;
    color: #fff;
    
}

.tituloModal{
    display: flex;
    justify-content: left;
    border: 5px;
    padding: 5% 5%;
}

.bodymodal{
    display: flex;
    justify-content: left;
    border: 5px;
    padding: 5% 5%;
}

.bodymodalComentario{
    display: flex;
    justify-content: left;
    border: 5px;
    padding: 5% 5%;
    width: 100%;
}

.bodymodalComentario textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: -10%;
}

.botoesModal{
    display: flex;
    justify-content: right;
    border: 5px;
    padding: 5% 5%;
}

.botoesModalSolicitacao{
    display: flex;
    flex-direction: column;
}

.botoesModal button, .botoesModalSolicitacao button{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
    background-color: beige;
    color: #121212;
    cursor: pointer;
    transition: all 0.5s;
}

.botoesModal button:hover, .botoesModalSolicitacao button:hover{
    background-color: rgb(37, 26, 166);
    color: #FFF;
  }

.contextComentarios {
    display: flex;
    flex-direction: column;    
    width: 100%;
    color: #fff;
}

.modalComentarios h4{
    padding-left: 10%;
    padding-right: 10%;
}

.modalComentarios sup{
    padding-left: 5%;
    padding-right: 5%;
}

.modalComentarios hr{
    margin-top: 10px;
    margin-bottom: 10px;
}