.respondida{
    background-color: var(--button-color-primary-right);
    color: var(--text-color-button);
}

.errado{
    background-color: var(--button-color-primary-wrong);
    color: var(--text-color-button);
}

.responder{
    background-color: var(--secundary-color);
    color: var(--text-color-button);
}

.opcoesQuestoes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 16px;
}

.opcaoFiltro{
    display: flex;
    width: 100%;
    justify-content: right;
    margin-right: 20px;
}

.nomeProvaDescricao{
    margin-top: 32px;
    margin-bottom: 32px;
}

.questao-link {
    cursor: pointer;
}
