*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: #292929;
  color: #FFF;
}

.app{
  display: flex;
  margin: 0px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerpage{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 18px;
  width: 90%;
  min-height: 640px;
  margin-bottom: 18px;
  padding: 20px 8px;
  background-color: #121212;
}

.containerpage h3{
  margin-top: 20px;
}

.botoes{
  margin-top: 60px;
}

.botao{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  font-size: 20px;
  padding: 10px;
  border-radius: 15px;
  background-color: beige;
  color: #121212;
  cursor: pointer;
  transition: all 0.5s;
}

.botao:hover{
  background-color: rgb(37, 26, 166);
  color: #FFF;
}

