.questoes{
    width: 90%;
}

.questoes button{
    text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 15px;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s;
}

.questoes button:hover{
    background-color: rgb(37, 26, 166);
    color: #FFF;
}

.respondida{
    background-color: green;
    color: #FFF;
}

.errado{
    background-color: red;
    color: #FFF;
}

.responder{
    background-color: beige;
    color: #121212;
}

.opcoesQuestoes{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    margin-bottom: 20px;
}

.opcaoFiltro{
    display: flex;
    width: 100%;
    justify-content: right;
    margin-right: 20px;
}

.opcoesQuestoes h2{
    margin-bottom: 30px;
}