.info-contato a{
    text-decoration: none;
    color: var(--text-color-secondary);
}

.info-contato p{
    margin: 16px;
}

.info-contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
