.provas{
    width: 80%;
    padding: 10px;
    margin-top: 3%;
}

.provas h4{
    padding: 10px;
}

.botaoBaixarArquivo{
    width: 30% !important;
    height: 100% !important;
    margin-top: 5px !important;
    padding: 3px !important;
}

.provas button{
    text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  font-size: 15px;
  padding: 10px;
  border-radius: 15px;
  background-color: beige;
  color: #121212;
  cursor: pointer;
  transition: all 0.5s;
}

.opcoesProva{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    margin-bottom: 20px;
}

.opcaoFiltro{
    display: flex;
    width: 100%;
    justify-content: right;
    margin-right: 20px;
}

.contextModal{
    display: flex;
    flex-direction: column;    
    background-color: #424242;
    width: 100%;
    color: #fff;
}

.tituloModal{
    display: flex;
    justify-content: left;
    border: 5px;
    padding: 5% 5%;
}

.bodymodal{
    display: flex;
    justify-content: left;
    border: 5px;
    padding: 5% 5%;
}

.provas button:hover{
    background-color: rgb(37, 26, 166);
    color: #FFF;
}

.provas a{
    text-decoration: none;
    cursor: pointer;
}

.tituloProva{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: larger;
}

.botoesModalFiltro{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.botoesModalFiltro button{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
    background-color: beige;
    color: #121212;
    cursor: pointer;
    transition: all 0.5s;
}

.filtros{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filtros h4{
    width: 100%;
    margin-top: 0;
    padding: 10px;
}

.filtros input{
    width: 100%;
    padding: 8px;
    margin-left: 10px;
    border-radius: 10px;
}
