header{
    display: flex;
    align-items: center;
    padding-left: 20px;
    justify-content: left;
    width: 100%;
    height: 60px;
    background-color: #121212;
}

.logo{
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    color: #FFF;
    font-weight: bold;
}

.ranking{
    text-decoration: none;
    cursor: pointer;
    background-color: #383838;
    padding: 5px 14px;
    color: #FFF;
    border-radius: 5px;
}