.toggleButton{
    color: var(--secundary-color);
    background-color: var(--secundary-color);
}

.toggleButtonClicked{
    background-color: var(--secundary-color);
}

.leftContent{
    align-self: start;
    display: flex;
}

.leftContent h3{
    color: var(--text-color-secondary);
}

.vis{
    margin-top: 8px;
    cursor: pointer;
}

.filtros-questoes{
    margin: 16px;
}

.filtros-questoes h4{
    margin-top: 8px;
}

.botao-filtrar{
    margin: 8px;
    display: flex;
    justify-content: end;
}
