footer a{
    cursor: pointer;
}

.footer-links {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.footer-links a {
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}
