.grafico tspan,
.grafico svg text,
.grafico .MuiChartsLegend-label,
.grafico .MuiChartsAxis-tickLabel,
.grafico .MuiChartsAxis-label {
    color: var(--text-color-primary) !important;
    fill: var(--text-color-primary) !important;
}

.MuiPieArc-root{
    stroke: unset !important;
}
